*{ 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul{list-style-type: none;}
a{ text-decoration: none;}
.clear{ clear: both;}
.container{
	width: 100%;
	padding: 20px;
}

body{
	font-size: 100%;
	font-family: sans-serif;
}
header, section{
/*	border: 1px solid red;*/
}

/* 좌측 타이틀 헤더 */
#main_header{
	position: relative;
	height: 100vh;
	background: #fefefe;
}
#main_header h1{ font-size: 4em;}
#main_header h2{ 
	font-weight: normal;
	font-family: sans-serif;
}
#main_header .header-group{
	position: absolute;
	text-align: center;
	width: 80%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -100%);
}
#main_header .sns{
	position: absolute;
	width: 80%;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%, 0%);
/*	border: 1px solid red;*/
}
#main_header .sns li{
	display: inline-block;
	margin: 8em 2em 0 0;
}
#main_header .sns li:last-child{ margin-right: 0;}
#main_header .sns .fab{ 
	font-size: 2em;
	color: #333;
}

/* 우측 GNB 메뉴 */
#main_gnb{
	position: relative;
	height: 100vh;
}
#main_gnb li{ height: 50vh;}
#main_gnb li:nth-child(1) > a{
	background: rgba(107, 12, 34, 0.7);
}
#main_gnb li:nth-child(2) > a{
	background: rgba(71, 52, 145, 0.7);
}
#main_gnb li:nth-child(3) > a{
	background: rgba(88, 140, 140, 0.7);
}
#main_gnb li:nth-child(4) > a{
	background: rgba(240, 213, 34, 0.7);
}

/* 메뉴 배경 처리 */
#main_gnb li{
	background-size: cover;
	background-position: center;	
}
#main_gnb li:nth-child(1){
	background-image: url(../images/about.jpeg);
}
#main_gnb li:nth-child(2){
	background-image: url(../images/skills.jpeg);
}
#main_gnb li:nth-child(3){
	background-image: url(../images/portfolio.jpeg);
}
#main_gnb li:nth-child(4){
	background-image: url(../images/contact.jpeg);
}

/* 메뉴 아이콘, 이름 영역 */
#main_gnb li{}
#main_gnb li > a{
	width: 100%; 
	height: 100%;
}
/* 콘텐츠 중앙 정렬 */
#main_gnb li > a{
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column; /* 텍스트 줄내림 */
}
#main_gnb li .fab{
	font-size: 100px;
	color: #fff;
}
#main_gnb li a{ 
	color: #fff;
	font-size: 2em;
	font-weight: normal;
}


/* 서브페이지 - about,, */
#main{
	background: #ccc;
}
#main article.on{ display: block;} /* 제이쿼리에서 화면처리 */
#main article {
	height: 100vh;
	display: none;
}
#main article header{ 
	color: #fff;
	text-align: center;
	padding: 60px 0;
}
#main #about header{ background: rgba(107, 12, 34, 0.7);}
#main #skills header{ background: rgba(71, 52, 145, 0.7);}
#main #portfolio header{ background: rgba(88, 140, 140, 0.7);}
#main #contact header{ background: rgba(240, 213, 34, 0.7);}


/* 푸터 메인에서 비표시 */
#main_footer{
	display: none;
	padding: 20px;
	text-align: center;
}
#main_footer.on{
	display: block;
}




@media (max-width: 767px){
	.sm-col-2{
		width: 50%;
		float: left;		
	}
	
	#main_header{
		height: 50vh;
	}
	#main_gnb{
		height: 50vh;
	}
	#main_gnb li{
		height: 25vh;
	}
}


/* 테블릿 이상 */
@media (min-width:768px){
	/* 레이아웃 시스템 */
	.col-1{
		width: 100%;
	}
	.col-2{
		width: 50%;
		float: left;
	}
	.col-3{
		width: 33.33%;
		float: left;
	}
	.col-4{
		width: 25%;
		float: left;
	}
}